<div class="app-body">
  <div class="row">
    <div class="col-sm-<%= 12 / @app_col %>" id="app-summary-col">
      <div class="app-summary-container">
        <h1><%= @env_tag.name.upcase %></h1>
        <h2><%= ApplicationTag.page_title(@method) %></h2>
      </div>
    </div>
    <% applications.each do |app| %>
      <%= render partial: "app_summary", locals: { app: app, tests: app.tests_by_env(@method, @env_tag) } %>
    <% end %>
  </div>
<script>
$(document).click(function() {
  $("ul.recent-failed-list").hide();
});
</script>
</div>
