<p class="col-links">Apps per row: <%= render partial: 'app_col_link', locals: { col_num: 1 } %> <%= render partial: 'app_col_link', locals: { col_num: 2 } %> <%= render partial: 'app_col_link', locals: { col_num: 3 } %> <%= render partial: 'app_col_link', locals: { col_num: 4 } %></p>
