<div class="app-body">
  <div class="row">
    <div class="col-sm-<%= 12 / @app_col %>" id="app-summary-col">
      <div class="app-summary-container">
        <h1><%= @options.env_name %></h1>
        <h2><%= @options.page_title %></h2>
      </div>
    </div>
    <% applications.each do |app| %>
      <%= render partial: "app_summary", locals: { app: app, tests: @options.tests_by_env(app) } %>
    <% end %>
  </div>
</div>

<script>
$(document).click(function() {
  $("ul.recent-failed-list").hide();
});
</script>
