<li class="dropdown" id="col-dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps per row: <b><%= @app_col.to_s %></b> <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% ([1,2,3,4] - [@app_col]).each do |col_num| %>
      <li>
        <%= link_to col_num.to_s , edit_app_col_application_tags_path(app_col: col_num, method: @method), remote: true %>
      </li>
    <% end %>
  </ul>
</li>
