<p class="col-links">Tests per row: <%= render partial: 'test_col_link', locals: { col_num: 3 } %> <%= render partial: 'test_col_link', locals: { col_num: 4 } %> <%= render partial: 'test_col_link', locals: { col_num: 6 } %></p>
