.app-body {
  padding-left: 15px;
  padding-left: 15px;
}
.app-summary-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 100px;
}

#app-summary-col {
  padding-left: 0px;
  padding-right: 0px;
}
