.app-body {
  padding: 0 20px;
}

.app-summary-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 15.3vh;
  position: relative;
}

.app-summary-header {
  vertical-align: top;
  height: 32%;
  width: 100%;
  padding: 8px;
}

ul.recent-failed-list {
  padding: 5px;
  margin-bottom: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 200;
  position: absolute;
  display: none;
}

ul.recent-failed-list > li {
  list-style-type: none;
  line-height: 1.8vh;
}


.app-summary-title {
	height: 100%;
  width: 75%;
  float: left;
  display: inline-block;
  vertical-align: top;
	position: relative;
}

.app-summary-title > a > h2, .app-summary-passing > h2 {
  margin: 0;
  font-size: 2.8vh;
}

.app-show-passing > h2 {
  margin: 0;
}

.app-summary-passing > h2 > em, .app-show-passing > h2 > em {
  color: #8DC63F;
  font-style: normal;
}

.app-summary-passing {
  vertical-align: top;
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: right;
}

.app-badges {
  vertical-align: top;
	width: 48.5%;
  display: inline-block;
}

#qa-badge {
  font-size: 1.5vh;
  font-weight: normal;
}

.app-summary-recent {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}


.app-summary-recent > p {
  padding-left: 5px;
  margin: 0;
  font-size: 1.7vh;
}

.app-summary-progress {
  width: 100%;
  height: 35%;
  padding: 0 8px;
  vertical-align: top;
  font-size: 0;
}

.app-prog-slice {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0 0.15vw;
}

.app-prog-slice div {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.app-prog-success {
  background-color: #8DC63F;
}

.app-prog-failing {
  background-color: #F15C22;
}

.app-prog-other {
  background-color: rgba(168, 168, 168, 0.78);
}

.app-summary-info {
  height: 33%;
  width: 100%;
  vertical-align: top;
  padding: 8px;
}

.app-progress-failing {
  display: inline-block;
  height: 100%;
  position: relative;
}

.app-progress-success {
  background-color: #8DC63F;
  border: none;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
  height: 100%;
}

.col-dropdown {
  margin-bottom: 0;
  margin-top: 5px;
}

.app-progress-bar {
  background-color: #F15C22;
  height: 100%;
}

.app-progress-disabled {
  background-color: rgba(168, 168, 168, 0.78);
  height: 100%;
}

.progress-summary {
	width: 100%;
	padding-left: 2px;
}

.link-title {
	color: #333333;
  font-size: 1.5vh;
}


.link-title:hover {
	text-decoration: none;
}

.total-passing {
  color: #fff;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 1.4vh;
}

.progress-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.progress-summary > p {
	width: 49.5%;
	margin-bottom: 0;
	display: inline-block;
}

#app-summary-col {
  padding: 5px;
}


.app-page-title > em {
  color: #a8a8a8;
  font-style: normal;
}

.app-page-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.app-show-title {
  display: inline-block;
  vertical-align: bottom;
  width: 74%;
}

.app-show-title > h2 {
  margin-bottom: 0;
}

.app-show-passing {
  display: inline-block;
  vertical-align: bottom;
  width: 25%;
  text-align: right;
}

.page-title > .app-summary-passing {
  padding-top: 8px;
}





