.app-body {
  padding: 0 15px;
}
.app-summary-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 185px;
  position: relative;
}

.app-summary-header {
  height: 100px;
  width: 100%;
}

.recent-failed-list {
  padding-left: 17px;
}

.app-summary-title {
	height: 100%;
  width: 50%;
  float: left;
  display: inline;
  padding-left: 20px;
	position: relative;
}

.app-jira {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 20px;
	width: 100%;
}

.app-summary-recent {
  width: 50%;
  float: left;
  display: inline;
}

.app-summary-recent > p {
  margin: 10px 0 0 0;
}

.app-summary-progress {
  width: 100%;
  height: 44%;
  position: absolute;
  bottom: 0;
}

.app-progress-success {
  background-color: #2E7D32;
  border: none;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
  height: 100%;
}

.col-links {
  margin-bottom: 0;
  margin-top: 10px;
}

.app-progress-bar {
  background-color: #C62828;
  height: 100%;
}

.app-progress-disabled {
  background-color: #a8a8a8;
}

.progress-summary {
	width: 100%;
	padding-left: 2px;
}

.link-title {
	color: #333333
}

.link-title:hover {
	text-decoration: none;
}

.total-failing {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 5px;
}

.total-passing {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: normal;
}

.progress-summary > p {
	width: 49.5%;
	margin-bottom: 0;
	display: inline-block;
}

#app-summary-col {
  padding: 5px;
}

.test-modal-body {
  padding: 15px 30px 30px 30px;
}

.test-modal-header {
  padding: 30px 30px 8px 30px;
}

.test-modal-header > h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#test-modal-row {
  padding: 5px;
}

#test-modal-label {
  text-align: right;
}

.app-page-title > em {
  color: #a8a8a8;
  font-style: normal;
}

.test-modal {
  border: 1px solid #ddd;
  background-color: #fff;
  max-width: 500px;
  min-height: 300px;
  margin: 150px auto;
	position: relative;
}

.test-modal-buttons {
  width: 100%;
  margin-top: 15px;
  text-align: right;
}

.test-modal-button {
  margin-left: 8px;
}
