.add-app-form {
  padding: 15px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.add-app-form > div > a {
	margin-left: 8px;
 }

.edit-applications {
  background-color: #fff;
	margin: 0 auto;
	width: 60%;
}

.add-app {
  margin-left: 8px;
}

#edit-apps-table {
  margin-bottom: 0;
}
