.settings-toggle {
  color: #333;
}

.settings-toggle:hover {
  text-decoration: none;
}

.settings-toggle-header {
  margin-top: 10px;
  color: #a8a8a8;
}

.add-app-form {
  padding: 15px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.add-app-form > div > a {
	margin-left: 8px;
 }

.edit-applications {
	margin: 0 auto;
  padding-top: 5px;
	width: 85%;
}

.add-app {
  margin-left: 8px;
}

#edit-apps-table {
  margin-bottom: 0;
  background-color: #fff;
}

.delete-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 50px;
}

.delete-modal {
  border: 1px solid #ddd;
  background-color: #fff;
  max-width: 500px;
  min-height: 300px;
  margin: 150px auto;
	position: relative;
}

.delete-header {
  padding: 30px 30px 8px 30px;
}

.delete-body {
  padding: 0 30px 30px 30px;
}

#delete-modal-test {
  border-left: none;
  border-right: none;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
}

#delete-modal-tests {
  overflow-y: auto;
  height: 200px;
}

.delete-title {
  margin-top: 0;
  margin-bottom: 0;
}

.delete-subtitle {
  margin-bottom: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-image: none;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.delete-modal-buttons {
	margin-top: 15px;
	height: 30px;
}

.delete-modal-button {
	float: right;
	margin-left: 8px;
}

#test-tabs-list {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-radius: 0;
  height: 36px;
  width: 100%;
  padding: 0;
}

.threshold-form {
  display: none;
}

.app-group-input {
  margin-left: 8px;
}

.threshold-container {
  margin-left: 8px;
  width: 23%;
  display: inline-block;
}

.app-threshold-container {
  padding-top: 7px;
  width: 100%;
}

#app-form-group {
  width: 100%;
}

.threshold-label {
  display: inline-block;
}

.threshold-display {
  margin-left: 12px;
  display: inline-block;
}

#threshold-slider {
  margin-left: 8px;
  display: inline-block;
  width: 140px;
}

.app-threshold-display {
  margin-left: 12px;
  margin-bottom: 0px;
  width: 20%;
  display: inline-block;
}

.app-threshold-slider {
  display: inline-block;
  width: 70%;
}

