.settings-toggle {
  color: #333;
}

.settings-toggle:hover {
  color: #333;
}

.settings-toggle-header {
  color: #a8a8a8;
}

.add-app-form {
  padding: 15px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.add-app-form > div > a {
	margin-left: 8px;
 }

.edit-applications {
	margin: 0 auto;
  padding-top: 5px;
	width: 60%;
}

.add-app {
  margin-left: 8px;
}

#edit-apps-table {
  margin-bottom: 0;
  background-color: #fff;
}
