tbody#test-table-body > tr > td {
  border-left: none;
  border-right: none;
}

.applications {
	margin: 0 auto;
	width: 60%;
}

#header-fixed {
  position: fixed;
  top: 0px;
  display: none;
  background-color: white;
}

.edit-test-btn {
  margin-right: 8px;
}

.name-field {
  width: 34%;
}

.type-field {
  width: 7%;
}

.group-field {
  width: 14%;
}

.app-field {
  width: 10%;
}

.env-field {
  width: 8%;
}

.indirect-field {
  width: 17%;
}

.actions-field {
  width: 10%;
}
