.add-note-form {
	position: absolute;
  z-index: 200;
  width: 25vw;
	background: #fff;
  border: 1px solid #ddd;
	padding: 8px;
  border-radius: 4px;
}

.add-note-input {
  margin-bottom: 10px;
}

.add-note-btn {
  margin-left: 8px;
  float: right;
}

ul.notes-sub {
	position: absolute;
  z-index: 200;
  width: 25vw;
	background: #fff;
  display: block;
  list-style-type: none;
	padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;

  > li {
    float: none;
    margin: 0;
    list-style-type: none;
    padding: 5px;

    > a {
      border-right: none;
      color: #000;
    }
  }

  > li.note-li {
    border-bottom: 1px solid #ddd;
  }
}

.note-body {
  color: #333333;
}

#active-notes {
  background-color: #FDB813;
  color: #333;
}

.note-author {
  margin: 0;
  color: #a8a8a8;
}

.app-notes ul.notes-sub, .app-notes .add-note-form {
  right: 0;
}

.app-notes {
  display: inline-block;
  margin-left: 5px;
  float: right;
}

.test-notes {
  display: inline-block;

  > div {
    position: relative;
  }
}

