// Place all the styles related to the Test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-test-name {
  float: left;
  width: 75%;
}

.edit-test-toggle {
  float: right;
  text-align: right;
  width: 25%;
}
