.app-notes ul.sub {
  left: 2vw;
}

.jira-section {
	display: inline-block;
}

#active-tickets {
  background-color: #205081;
  color: #fff;
}

ul.sub {
	position: absolute;
  z-index: 200;
  width: 30vw;
	background: #fff;
  display: block;
  list-style-type: none;
	padding: 0;
  border: 1px solid #ddd;
  color: #a8a8a8;
}

ul.sub > li {
  float: none;
  margin: 0;
  list-style-type: none;
	padding: 5px;
  border-bottom: 1px solid #ddd;
}

ul.sub > li:last-child {
  border-bottom: none;
}

ul.sub > li > a {
  border-right: none;
  color: #000;
}


#ticket-status {
  margin-left: 8px;
}

.summary-label {
  color: #a8a8a8;
}

.jira-people {
  display: inline-block;
  width: 50%;
}

.jira-summary {
  margin-top: 10px;
  color: #333;
}

.jira-person {
  color: #333;
}

.resolve-link {
	float: right;
}

.add-ticket-form {
	position: absolute;
  z-index: 200;
  width: 15vw;
	background: #fff;
  border: 1px solid #ddd;
	padding: 8px;
}
