<div class="page-header" id="qa-header">
	<div class="page-title">
		<h2>Settings</h2>
	</div>
</div>

<%= react_component 'Tests', { data: @tests, applications: @applications, environments: @environments } %>
